#root {
  font-family: System-Regular;
  viewport-fill: fb-black;
  fill: fb-white;
}

#date {
  font-family: System-Light;
  font-size: 52;
  text-length: 11;
  y: 40;
  x: 150;
  width: 100%;
  fill: #bbbbbb;
  text-anchor: middle;
}

#time {
  font-size: 76;
  text-length: 8;
  y: 120;
  x: 150;
  width: 100%;
  text-anchor: middle;
}

#primaryActivity {
  y: 142;
  x: 0;
  width: 100%;
}

arc {
  width: 56;
  height: 56;
  y: 2;
  x: 2;
  arc-width: 6;
  start-angle: 0;
  sweep-angle: 0;
}

#primaryActivity arc {
  width: 80;
  height: 80;
  arc-width: 6;
}

arc.background {
  fill: fb-dark-gray;
  sweep-angle: 360;
}

.completed {
  r: 28;
  cy: 28;
  cx: 28;
  x: 2;
  y: 2;
}

#primaryActivity .completed {
  r: 40;
  cy: 40;
  cx: 40;
}

.icon {
  width: 32;
  height: 32;
  y: 14;
  x: 14;
  fill: fb-white;
}

#primaryActivity .icon {
  width: 44;
  height: 44;
  y: 18;
  x: 18;
}

.value {
  font-size: 60;
  text-length: 9;
  y: 50;
  x: 70;
  fill: fb-cyan;
}

#primaryActivity .value {
  font-size: 70;
  y: 62;
  x: 92;
}

.steps {
  fill: fb-blue;
}

.elevationGain {
  fill: fb-purple;
}

.distance {
  fill: fb-red;
}

.calories {
  fill: fb-orange;
}

.activeZoneMinutes {
  fill: fb-green;
}

#activities {
  y: 239;
  x: 0;
  width: 100%;
}

#activities .value {
  display: none;
}

/* Displaying secondary clock face */

.secondaryClockFace #date {
  display: none;
}

.secondaryClockFace #time {
  display: none;
}

.secondaryClockFace #primaryActivity {
  display: none;
}

.secondaryClockFace #activities {
  y: 0;
}

.secondaryClockFace #activities .value {
  display: inline;
}
